<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ao.dicionariodetermosinformaticos.romavicdosanjoskc"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/image_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/image_logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ao.dicionariodetermosinformaticos.romavicdosanjoskc.view.activity.DictionaryWordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ao.dicionariodetermosinformaticos.romavicdosanjoskc.view.activity.ConfigurationAppActivity"
            android:label="@string/title_activity_configuration"
            android:parentActivityName=".view.activity.DictionaryWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="ao.dicionariodetermosinformaticos.romavicdosanjoskc.view.activity.ConversionActivity"
            android:label="@string/title_activity_conversion"
            android:parentActivityName=".view.activity.DictionaryWordActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="ao.dicionariodetermosinformaticos.romavicdosanjoskc.view.activity.WordsSavedActivity"
            android:label="@string/title_activity_save_words"
            android:parentActivityName=".view.activity.DictionaryWordActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="ao.dicionariodetermosinformaticos.romavicdosanjoskc.view.activity.ReceiveDictionaryWordActivity"
            android:label="@string/title_activity_receive_data_dictionary_words"
            android:parentActivityName=".view.activity.DictionaryWordActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>